.counter {
  border: 1px solid black;
  max-width: 600px;
  margin: auto;
  margin-top: 15px;
  padding: 30px;
  position: relative;
  min-height: 130px;
}

.counter button {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.counter button:hover {
  background-color: rgb(66, 66, 233);
}
